<link rel="stylesheet" href={{ "css/footer.css" | relative_url }}>

<div class="footer-container">
    <div class="footer-wrapper">
        <h1>Let's be in touch.</h1>
        <h2>Contact me at: fiona.soetrisno@gmail.com</h2>
        <div class="icons-container">
            <a href="https://www.linkedin.com/in/{{site.linkedin_username}}">
                <img src="{{ site.baseurl }}/assets/images/footer/icon-linkedin.svg">
            </a>
            <a href="https://www.github.com/{{site.github_username}}">
                <img src="{{ site.baseurl }}/assets/images/footer/icon-github.svg">
            </a>
        </div>
        <h3>Website coded and designed by Fiona Soetrisno</h3>

    </div>
</div>