<link rel="stylesheet" href="css/hero.css">
<script src="js/hero-slideshow.js"></script>

<element onload="loadImages()"></element>
<div class="hero-wrapper">
    <div class="hero-header">
        <h1>{{ page.hero-header }}</h1>
    </div>

    <div class="slideshow-container">
        <!--Filled in JS-->
    </div>

    <div class="slideshow-nav-container">
        <a onclick="OnClickLeft()">
            <img src="assets/images/hero/icons/leftArrow.svg">
        </a>
        <div style="display: inline-flex;"class="dotnav-container">
            <!--Filled in JS-->
        </div>
        <img onclick="OnClickRight()" src="assets/images/hero/icons/rightArrow.svg">


    </div>
</div>