<link rel="stylesheet" href="css/hero.css">
<script src="js/hero-slideshow.js"></script>

<element onload="loadImages()"></element>
<div class="hero-wrapper">
    <div class="hero-header">
        <h1>{{ page.hero-header }}</h1>
    </div>

    <div class="slideshow-container">
        <!--Filled in JS-->
    </div>

    <div class="slideshow-nav-container dotnav-container">
        <img style="display: inline-flex;"onclick="OnClickLeft()" src="assets/images/hero/icons/leftArrow.svg">
        <!-- <div style="display: inline-flex;"class="dotnav-container"> -->
            <!--Filled in JS-->
        <!-- </div> -->
        <img style="display: inline-flex;"onclick="OnClickRight()" src="assets/images/hero/icons/rightArrow.svg">


    </div>
</div>