<link rel="stylesheet" href="css/projects.css">
<script src="https://unpkg.com/scrollreveal"></script>


<div class="projects-wrapper">
    <h1>{{ page.projects-header}}</h1>
    <h2>{{ page.projects-subheader1}}</h2>

    <!-- Personal Projects-->
    <div class="projects-container">
        <div class=" projects-personal-container">
            {% for project in site.categories.personal %}
                <div class="project-container">
                    <a href="{{ site.baseurl }}{{ project.url }}">
                        <img class="project-thumbnail" src="assets/images/projects/{{project.thumbnailPath}}">
                        <h3>{{project.title}}</h3>
                        <h4>{{project.description}}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2 style="padding-top:10px" class="work-header">{{ page.projects-subheader2}}</h2>
    
    <!-- Work Projects-->
    <div class="projects-container">
        <div class=" projects-personal-container">
            {% for project in site.categories.work %}
                <div class="project-container">
                    <a href="{{ site.baseurl }}{{ project.url }}">
                        <img class="project-thumbnail" src="assets/images/projects/{{project.thumbnailPath}}">
                        <h3>{{project.title}}</h3>
                        <h4>{{project.description}}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
    <!-- view more -->
    <h5 class="more-info">{{content}}</h5>


    <!-- Scroll Reveal Stuff -->    
    <script>
        var optionsHero = {
           reset: true, origin: 'top', 
           scale: 0.9,  viewFactor: 0.4,
           viewOffset: {
              top: '50',
              bottom: '50'
           }
        }
        var optionsAbout = {
           reset: false,
           scale: 0.99,
           origin: 'bottom', distance: '10px', duration: 1500
        }
        ScrollReveal().reveal('.project-container', optionsAbout);
        ScrollReveal().reveal('.work-header', optionsAbout);
        ScrollReveal().reveal('.more-info', optionsAbout);
     </script>


</div>