<html>
   <head>
      <link rel="stylesheet" href="css/testingStyles.css">
      <link rel="icon" href="/favicon.ico">
      <title>{{site.title}}</title>
      <script src="/blog/lazysizes.min.js" async=""></script>
      <script src={{ "js/loading-screen.js" | relative_url }}></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
   <body>
         {% include loading-screen.html %}
         {% include navbar.html %}

         <div class="hero-container">
            {% include hero.html %}
         </div>
         
         <div id="projects-container" class="projects-container">
            {% include projects.html %}
         </div>

        {% include footer.html %}

   </body>
</html>